In [2]:
import pandas as pd
import numpy as np

# Introduction to Pandas

At a high level Pandas Objects are just structured arrays the row and column being identified with labels rather then simple integer indicies.

* The **three** basic fundemental Pandas data Structures are
    1. Series
    2. DataFrame
    3. index
    
### The Pandas Series Object
A pandas series is a one dimensional array of **indexed** data.

In [2]:
data = pd.Series([.25,.5,.75,1.0])
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

* A series can wraps both a sequence of values **as well as a sequence of indicies**
* You have the ability to access the values and index attributes

In [3]:
print(data.values)
print(data.index)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [4]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

The Pandas Series has an **explicitly defined** index association with the values.  

This grants us additional capabilities, such as 
    1. the index need not be an integer, but can consist of any values of any desired type.
    2. We can use non-contiguous or non-sequential indicies.

In [5]:
data = pd.Series(np.arange(.25,1.25,.25), index= ['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
print(data['b'])

0.5

In [7]:
data = pd.Series(np.arange(.25,1.25,.25),index=[2,5,3,7])
print(data)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [8]:
print(data[7])

1.0

### Series as a specialized Dictionary

A dictionary is a structure that maps arbitrary keys to a set of arbitrary
values, and a Series is a structure that maps typed keys to a set of typed values.

In [9]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)

print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [11]:
population['California']

38332521

Unlike with dictionary, with Series support array style operations such as **slicing**

In [12]:
population["Texas": "Illinois"]

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

### The Pandas DataFrame Object
  
It can be thought of as a specialized Python dictionary or a generalized numpy array.

If a series is viewed as a one-dimensional array with flexible indices, then a DataFrame is a two-dimensional array with **both** flexible row indices and flexible column names.

#### DataFrame as a generalized Numpy array

You can think of a data frame as a sequence of **aligned** Series Objects. By **aligned** we mean that they share the same index.

In [13]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}
area = pd.Series( area_dict )
print(area,"\n")
print(population)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
states = pd.DataFrame ({
    'population': population,
    'area': area
})
print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [15]:
print(states.index) #just like the Series Object
print(states.columns) # DataFrame has a column attribute

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

#### DataFrame as a specialized dictionary

A DataFrame can be though of as a specilaized dictionary, where:
    1. The key is the column name
    2. The value is the pandas Series object

In [16]:
print(states['area']) #returns a "column"
print(type(states['area']))

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
<class 'pandas.core.series.Series'>

#### Different ways of constructing a DataFrame object

1. From a singel series Object

In [17]:
pd.DataFrame(population, columns=['pop'])

                 pop
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

2. From a list of dicts

In [18]:
tmp = list()
for i in np.arange(0,3):
    tmp.append({'a': i, 'b': 2*i})
print(tmp)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [19]:
data = [{'a':i , 'b' : i* 2} for i in np.arange(0,3)]
print(data)
print(pd.DataFrame(data))

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]
   a  b
0  0  0
1  1  2
2  2  4

In [20]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

3. From a dictionary of Series Objects

In [21]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

3. From a Numpy two dimensional Array

In [22]:
pd.DataFrame(np.random.rand(3, 2),
                columns=['foo', 'bar'],
                index=['a', 'b', 'c'])

        foo       bar
a  0.874185  0.178842
b  0.904420  0.546301
c  0.303980  0.861263

### The Pandas Index Object

The index object can be thought of either as an **immutable array** or as an **ordered set** (technically a multiset, as Index objects may contain repeated values).

In [23]:
ind = pd.Index([2,3,5,7,11])
print(ind)

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [24]:
print(ind[1])
print(ind[::2])#slicing

3
Int64Index([2, 5, 11], dtype='int64')

In [25]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [26]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [27]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB

In [ ]:
indA | indB

In [ ]:
indA ^ indB #symmetric difference

## Data Indexing And Selection

### Data Selection in DataFrame

The **individual Series** that makes up a column of the DataFrame can be accessed via dictionary-style indexing or via attribute style acces

In [ ]:
print(states['area'],'\n')
print(states.area)

In [ ]:
states.area is states['area']

This does not work in all cases, when column names conflict with methods of a DataFrame attribute style accessing is not possible.

In [ ]:
states

In [ ]:
# Adding a new column
states['density'] = states['population'] / states['area']
print(states)

We can examine the raw underlying data array

In [ ]:
states.values

In [ ]:
states.T

## Indexers: loc,iloc

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
#explicit index when indexing
data[1]

In [ ]:
#implicit index with slicing
data[1:3]

Pandas provides some special indexer attributes that explicitly expose certain indexing schemes

1. the loc attribute allows indexing and slicing that always references the explicit index:

In [ ]:
print(data.loc[1])
print(data.loc[1:3])

2. The iloc attribute allows indexing and slicing that always references the implicit Python-style index:

In [ ]:
print(data.iloc[1])
print(data.iloc[1:3])

In [ ]:
states

In [ ]:
states.iloc[:3,:2]

In [ ]:
states.loc[:'Illinois', :'population']

loc indexer we can combine **masking** and **fancy indexing** as in the following:

In [ ]:
states.density > 100

In [ ]:
states.loc[states.density > 100, ['population', 'density']]

There are a couple of indexing conventions that might be confusing based on what we just discussed, but they can be very useful.

1. Indexing refers to columns
2. Slicing refers to rows

In [ ]:
states['Florida':'Illinois']

In [ ]:
states[1:3] #implicit

In [ ]:
states[states.density > 100]

### Operating on Data in Pandas

For any binary operation on two Series or DataFrame objects, Pandas will align indicies in the process of performing the operations. This is convenient when working with incomplete data.

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                'New York': 19651127}, name='population')

print(area,"\n")
print(population)

In [ ]:
population/area

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

If NaN values are not desired we can use the appropiate object method in place of the operator.  

For example, calling A.add(B)  
is equivalent to calling A + B, but allows optional explicit specification of the fill value  
for any elements in A or B that might be missing:

In [ ]:
A.add(B, fill_value=0)

A similar type of aligment occurs for both columns and indicies when you perform operations on DataFrames

In [ ]:
rng = np.random.RandomState(42) #setting our seed value

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                    columns=list('AB'))

B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                    columns=list('BAC'))

print(A,"\n");print(B)

In [ ]:
A+B

In [ ]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

In Pandas subtraction between as DataFrame and a series object are row-wise by default

In [ ]:
A = rng.randint(10,size = (3,4))
df = pd.DataFrame(A, columns= list("ABCD"))
df

In [ ]:
df - df.iloc[0]

In [ ]:
# TO operate column wise you can speicfy it in the axis parameter
df.subtract(df["A"], axis= 0)

## Handling Missing Data
- Real World Data is rarely clean and homogenous
- different data sources indicate missing data in different ways

### Trade-offs in Missing Data Conventions
schemes have been developed to indicate missing data in a table or DataFrame. Generally they revolve around one of two strategies:
1. Using a `mask` that globally indicates a missing values
    - You use a boolean array to logically indicate a null status for a value
2. Choosing a `sentinel value` that indicates a missing entry
    - You can use some data specific convention
    
### Missing Data in Pandas:
Pandas has chosen to use **sentinals** for missing data, and even further choose two already existing Pyhton NULL values:
1. the special floating point `NaN` value
2. The Python `None` object

#### None: Pythonic missing data
None is a python object and b/c of this, it cannot be used in an arbitrary NumPy/Pandas array, but only in arrays with **data type `object`(i.e., arrays of Python objects)**

In [ ]:
vals1 = np.array([1, None, 3,4])
vals1

Note: Any operations on an array of type `object` will be done at the Python  level. Which carries much more overhead
<br>
B/c of the None Value, whenever you perform aggregate functions like `sum()` or `min()` across an array, you will generally get an error

In [ ]:
vals1.sum() # This will throw an error

#### NaN: Missing Numerical data
- Used the standard IEEE floating point representation
- The result of arithmetic with NaN is NaN

In [ ]:
vals2 = np.array([1, np.nan, 3,4])
vals2.dtype

Note: aggragates over the values are well defined **but not useful**

In [ ]:
print(np.sum(vals2))
print(np.min(vals2))
print(np.max(vals2))

In [ ]:
np.nansum(vals2), np.nanmin(vals2) , np.nanmax(vals2) # The FOllowing operations ignore the NaN value

#### NaN and None in Pandas
- They can be used nearly interchangable in Pandas

In [ ]:
pd.Series([1, np.nan,3,None]) #converts None to NaN

### Operating on Null Values:
   There are several useful methods for detecting, removing and replacing null values in Pandas data structures They Are:
   1. `isnull()`: Generates a boolean mask indicating missing values
   2. `notnull()`: Opposite of `isnull()`
   3. `dropna()`: Returns a filtered version of the data
   4. `fillna()`: Returns a copy of the data with missing values filled or imputed
   
#### Detecting null Values

In [ ]:
data = pd.Series([1, np.nan , "hello", None])
data.isnull()

In [ ]:
data[data.isnull()]

#### Droping Null values

In [ ]:
data.dropna()

In [ ]:
df = pd.DataFrame([[1, np.nan , 2],
                    [2,3,5],
                    [np.nan , 4, 6 ]])

df

For a DataFrame up to now you cannot drop a single value, you drop the rows or columns that conatin the null value

In [ ]:
print(df.dropna(axis=0),'\n') # Drop the rows
print(df.dropna(axis= 1)) # Drop the cols

Some additional functionality is the ability to choose a threshold for how many nulls should be in a column or rows before you drop it.

<br>

This can be specified through the `how` of `thresh` paramter 
- the default is `how = 'any'` , such that any col or row containing a null will be dropped.
- if `how = 'all'`, you will drop a col/row that contains all nulls

In [ ]:
df[3] = np.nan
df

In [ ]:
df.dropna(axis = 1 , how = 'all')

In [ ]:
df.dropna(axis = 0 , thresh= 3) # with Thresh you specify the min. number of non-null 
                                #values a row/col should have before we drop it

In [ ]:
data = pd.Series([1, np.nan , 2, None, 3], index = list('abcde'))
data

In [ ]:
data.fillna(0)

In [ ]:
# You can specify a foward-fill to propagate the previous value foward
data.fillna(method= 'ffill')

In [ ]:
# OR back-fill to propagate the nex values backward
data.fillna(method= 'bfill')

In [ ]:
df

In [ ]:
df.fillna(method= 'ffill' , axis= 1)

## Hierarchical Indexing:

Q: What if we are interested in storing data in beyond your typical one-dimensional(Series) and two-dimensional(DataFrame) data structures. Meaning you would have to index you data with more than one or two keys. 
<br>
_Hierarchical  indexing_ also known as _multi-indexing_ is used to incorporate multiple _index  levels_ within a single index.
<br>
This way allows for higher dimensional data to be compactly represented within the familiar one-dimensional Series and two-dimensional DataFrame.

In [3]:
index = [('California', 2000), ('California', 2010),
('New York', 2000), ('New York', 2010),
('Texas', 2000), ('Texas', 2010)]

populations = [33871648, 37253956,
18976457, 19378102,
20851820, 25145561]

In [4]:
pop = pd.Series(populations, index = index )

In [5]:
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [6]:
index = pd.MultiIndex.from_tuples(index)
print(index);print(type(index))

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
<class 'pandas.core.indexes.multi.MultiIndex'>

Mulit-Index contains multiple _levels_ of indexing
<br>
If we Reindex our series with this _Multi-index_ we see the hierarchical respresentation

In [7]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [8]:
# Now to access data for which the second index is 2010
pop[:,2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

#### MulitIndex as extra dimension

- the `unstack()` method converts a multiply-indexed Series into a conventionally indexed DataFrame
- Naturally the `stack()` method provides the opposite operation

In [9]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [10]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Concretely, we
might want to add another column of demographic data for each state at each year
(say, population under 18); with a MultiIndex this is as easy as adding another column
to the DataFrame:

In [12]:
pop_df = pd.DataFrame({
    'total':pop,
    'under18': [9267089, 9284094,
                4687374, 4318033,
                5906301, 6879014]
})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In addition, all the _ufuncs_ and other functionality discussed work with hierarchical indicies.
<br>
e.g., Compute the fraction of people under 18 by year.

In [15]:
f_u18 = pop_df['under18']/pop_df['total']
f_u18

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

## Methods for MultiIndex Creation

The most straightforward way to construct a multiply indexed _Series_ or _DataFrame_ is to simply pass a list of two or more index arrays to the constructor.

In [16]:
df = pd.DataFrame(
            np.random.rand(4,2),
            index = [['a','a','b','b'],[1,2,1,2]],
            columns = ['data1','data2']
)
df

        data1     data2
a 1  0.494664  0.725386
  2  0.802608  0.723136
b 1  0.740377  0.312156
  2  0.935556  0.590268

In [17]:
# Similarly, if you pass a dictionary with appropiate tuples as keys, 
#Pandas will automatically recognize this and use MultiIndex by default

data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}

pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

## Explicit MultiIndex constructors
- There is a class method constructor available in pd.MultiIndex

In [18]:
#Constructing a multi-index from a simple list of arrays
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
#Constructing a multi-index from a simple list of tuples
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [20]:
# you can even construct it from a cartersian product of single indicies
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

Now you would pass these objects as the index argument when creating a Series or DataFrame,or to the reindex method of an existing Series or DataFrame.
<br>
### MultiIndex level names

In [21]:
print(pop.index.names)
pop.index.names = ['state','year']
print(pop.index.names)
print(pop)

[None, None]
['state', 'year']
state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

## MultiIndex for Columns
columns can have multiple levels

In [22]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013,2014],[1,2]],
                                  names = ['year','visit'])

columns = pd.MultiIndex.from_product([['Bob','Guido','Sue'],['HR',"temp"]],
                                    names = [
                                        'subject',
                                        'type'
                                    ])

# mock some data
data = np.round(np.random.randn(4,6),1)
data[:,::2] *= 10
data += 37

#create the DataFrame
health_data = pd.DataFrame(data , index = index , columns = columns)
health_data

subject      Bob       Guido         Sue
type          HR  temp    HR  temp    HR  temp
year visit
2013 1      28.0  38.6  40.0  36.7  33.0  35.8
     2      41.0  36.8  40.0  35.4  51.0  34.8
2014 1      32.0  36.7  30.0  36.7  56.0  38.0
     2      43.0  35.8  44.0  38.3  40.0  36.9

In [23]:
health_data['Guido']

type          HR  temp
year visit
2013 1      40.0  36.7
     2      40.0  35.4
2014 1      30.0  36.7
     2      44.0  38.3

## Indexing and Slicing a MultiIndex

### Mulitply Indexed Series

In [26]:
print(pop);
print(type(pop),"\n")
print(pop['California',2010],'\n')

print(pop['California'],'\n') # Partial Indexing

print(pop.loc['California':'NewYork'],'\n') #Partial Slicing

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
<class 'pandas.core.series.Series'>

37253956

year
2000    33871648
2010    37253956
dtype: int64

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [27]:
print(pop[:,2000])

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [28]:
pop[pop > 22000000] # Selection based on boolean masks

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [29]:
pop[['California','Texas']] #Selection based on Fancy Indexing

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

### Multiply Indexed DataFrames

In [30]:
health_data

subject      Bob       Guido         Sue
type          HR  temp    HR  temp    HR  temp
year visit
2013 1      28.0  38.6  40.0  36.7  33.0  35.8
     2      41.0  36.8  40.0  35.4  51.0  34.8
2014 1      32.0  36.7  30.0  36.7  56.0  38.0
     2      43.0  35.8  44.0  38.3  40.0  36.9

Note: Columns are primary in a DataFrame, and the syntax used for multiple Indexed Series applies to the columns

In [31]:
health_data['Guido','HR']

year  visit
2013  1        40.0
      2        40.0
2014  1        30.0
      2        44.0
Name: (Guido, HR), dtype: float64

In [37]:
health_data.iloc[:2,:2]

subject      Bob
type          HR  temp
year visit
2013 1      28.0  38.6
     2      41.0  36.8

In [38]:
# Each individual index in loc and iloc can be passed a tuple of mulitple indicies
health_data.loc[:,('Bob','HR')]

year  visit
2013  1        28.0
      2        41.0
2014  1        32.0
      2        43.0
Name: (Bob, HR), dtype: float64

## Rearranging Multi-Indicies
- Knowing how to efficiently transform data

### Sorted and Unsorted indicies
**Many of the _MultiIndex_ slicing operations will fail if the index is not sorted**

In [39]:
# The indicies here are not lexographically sorted

index = pd.MultiIndex.from_product([['a','c','b'],[1,2]])
data = pd.Series(np.random.rand(6),index = index)
data.index.names = ['char','int']
data

char  int
a     1      0.776175
      2      0.779138
c     1      0.770968
      2      0.998212
b     1      0.018901
      2      0.726763
dtype: float64

In [40]:
# Lets try some partial slice of this index
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

Note: The above error is b/c of the multi-index not being sorted.
<br>
Partial Slicing and other similar operations require the levels in the `MultiIndex` to be in sorted order.
<br>
Pandas provides a number of convenient ways to do this:
    - `sort_index()` 
    - `sort_level()`

In [42]:
data = data.sort_index()
data

char  int
a     1      0.776175
      2      0.779138
b     1      0.018901
      2      0.726763
c     1      0.770968
      2      0.998212
dtype: float64

In [43]:
data['a':'b']

char  int
a     1      0.776175
      2      0.779138
b     1      0.018901
      2      0.726763
dtype: float64

### Index setting and resetting
Another way to re-arrange hierarchical data is to turn the index labels into columns.
<br>
This can be done with the `reset_index()` method

In [45]:
pop_flat = pop.reset_index(name = 'population')

In [47]:
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

To go in the opposite direction(i.e, Build a MultiIndex from the column values), this can be done with the `set_index` method of the DataFrame, which returns a multiply indexed DataFrame:

In [49]:
pop_flat.set_index(['state','year'])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

## Data Aggregation on Multi-Indices
- Functions such as `sum()`, `max()` , etc... for hierarchically indexed data can be passed a `level` parameter.
- The `level` parameter controls the which subset of the data the aggregate is computed on.

In [50]:
health_data

subject      Bob       Guido         Sue
type          HR  temp    HR  temp    HR  temp
year visit
2013 1      28.0  38.6  40.0  36.7  33.0  35.8
     2      41.0  36.8  40.0  35.4  51.0  34.8
2014 1      32.0  36.7  30.0  36.7  56.0  38.0
     2      43.0  35.8  44.0  38.3  40.0  36.9

Perhaps we would like to average out the measurments in the two visits each year. <br>
We can do this by meaning the index level we'd like to explore

In [51]:
data_mean = health_data.mean(level= 'year')
print(data_mean)

subject   Bob        Guido          Sue
type       HR   temp    HR   temp    HR   temp
year
2013     34.5  37.70  40.0  36.05  42.0  35.30
2014     37.5  36.25  37.0  37.50  48.0  37.45

In [52]:
data_mean.mean(axis = 1, level = 'type')

type         HR       temp
year
2013  38.833333  36.350000
2014  40.833333  37.066667

In [53]:
(34.5 + 40 + 42)/3

38.833333333333336